#home-page-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 30px;
}

#home-page-contact h2 {
    font-weight: 600;
    line-height: 34px;
}

#home-page-contact h4 {
    font-weight: 400;
    line-height: 24px;
}

.home-contact-container {
    margin-top: 40px;
}

.home-contact-card {
    text-align: center;
    padding: 30px 30px 40px;
    margin: 0 4px;
    border-radius: 10px;
    background-color: #AAD7EE;
}

.home-contact-card:nth-child(2) {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #365DA7;
    border-radius: 16px;
    margin: -15px 0 0;
    height: 310px;
    justify-content: space-around;
}

.home-contact-icons-container h4 {
    margin: 8px 0;
}

@media screen and (min-width: 768px) {
    .home-contact-container {
        display: flex;
        width: 100%;
        max-width: 1032px;
        flex-direction: row;
        border: 1px solid #365DA7;
        border-radius: 10px;
        height: 320px;
    }

    .home-contact-card {
        width: 50%;
        border-radius: 10px 0 0 10px;
        margin: 0;
    }

    .home-contact-card:nth-child(2) {
        height: auto;
        border: none;
        margin: 0
    }

    .home-contact-text-container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}