/* Login */

.full-block {
  display: flex;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid lightgray;
  width: 50rem;
  height: 45rem;
  min-width: 375px;
  z-index: 1;
}

.login {
  width: 85%;
  margin: 10% auto;
}
.rest-z-index {
  z-index: -1;
}
.login-styles {
  display: block;
}
.login-styles label,
input {
  display: block;
}
.login-styles input {
  padding: 0.6rem 0.6rem 0.6rem 0.3rem;
  margin: 0.6rem;
}
#role-select {
  margin: 0.8rem 0 0 0;
}

.login-styles button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0.8rem;
}
.warning {
  color: red;
  font-weight: 800;
}

/* .login-styles select {
  padding: 0.6rem 0.6rem 0.6rem 0.3rem;
  border: 1px round grey;
  margin: 0.5rem auto;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* .login-form {
  display: table-caption;
} */

/* .login-form label {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;


  color: #333333;

} */

/* .login-form input {
  padding: 1.5rem;
  margin: 1rem;
  background: #ffffff;
  width: 80%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
} */
