.popup {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999999999;
}

.popup_inner {
    position:fixed;
    background: #365FA7;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 16px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: fit-content;
    max-height: fit-content;
    
}
.div_img{ 
    grid-column: 1/2;
    height:auto;
    max-height:fit-content;
}

.div_text{ 
    grid-column: 2/6;
    height:auto;
    max-height:85vh;
    margin:25px
}
.img{ 
    max-height:fit-content;
    grid-column: 1/2;
}
.close {
    background: #cee6ef;
    padding:10px;
    border-radius: 100%;
    position: fixed;
    top: 15px;
    right: 15px;
    width:18px;
    height:18px;
    display: flex;
    justify-content: center;

}
.text_area { 
    align-items: center;
}

.header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;  
    color: #FFFFFF;
}
.text{ 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125.4%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-items: center;
}
.form{ 
    margin-top:20px;
    max-width:fit-content;
}
.button {
    background-color:#cee6ef;
    border: 2px solid #cee6ef;
    color: var(--gai-blue);
    width: 120px !important;
    border-radius: 14px;
    padding: 10px;
    font-weight: 600;
    margin-left:5px !important;
    margin-top:10px !important;
  }