.cmp * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cmp {
    overflow: hidden;
    height: 100vh;
}

.bg {
    filter:
        blur(3px);
    z-index: -10;
    height: 100%;
}

.body {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 10px auto;
    position: absolute;
    right: 0;
    width: 80vw;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}