.profile {
    flex-direction: column;
}

.profile__msg {
    padding: 10px;
    color: var(--gai-blue);
    font-weight: 600;
    text-align: center;
}

.message-container{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    padding: 30px;
    width: auto;
}

.profile-picture-container {
    display: flex; 
    justify-content: center;
    padding-bottom: 30px;
}
.details-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 112%;
}
.label-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
