.upperHead{
    margin: 10px 20px;
    display: flex;
}

.lineone{
    display: flex;
}

.arrowBackIcon{
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    margin: 10px 10px!important;
}

.addRequest{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 10px
}

.red{
    color: red;
}

.msg {
    background-color: var(--gai-white);
    border: 1px solid #365fa7;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--gai-blue);
    font-size: 10px;
    max-width: 310px;
    margin-bottom: 10px;
    padding: 16px;
    width: fit-content;
    margin-left: auto;
}

.msgBottom{
    background-color: var(--gai-white);
    border: 1px solid #365fa7;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--gai-blue);
    font-size: 12px;
    max-width: 420px;
    margin: 20px 10px;
    padding: 16px;
    width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding: 10px 10px;
    margin: auto;
}

.profiletitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
}


.formCtrl label {
    display: block;
}

.quesPrimary{
    display: grid;
    margin: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h";
    align-items: start; 

}

.roomQuestions{
    display: grid;
    margin: 10px 10px;
    margin-top: 20px;;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    grid-template-areas:
        "i j"
        "k l";
    align-items: start; 

}
.PartnerQuestions{
    display: grid;
    margin: 10px 10px;
    margin-top: 20px;;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    grid-template-areas:
        "m a";
    align-items: start; 

}

.quesPrimary > div > label, .roomQuestions > div > label {
    display: block;
    margin: 5px 10px;
    font-weight: 600;
    font-size: 16px;
}

.ExtraQuestions{
    display: grid;
    margin: 10px 10px;
    margin-top: 20px;;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    grid-template-areas:
        "n a"
        "o a"
        "p a";
    align-items: start; 

}

.PartnerQuestions > div > label {

    display: block;
    margin: 5px 10px;
    font-weight: 600;
    font-size: 16px;
}
.ExtraQuestions > div > label {

    display: block;
    margin: 5px 10px;
    font-weight: 600;
    font-size: 16px;
}

.name{
    grid-area: a;
}
.dob{
    grid-area: b;
}
.gender{
    grid-area: c;
}
.langs{
    grid-area: d;
}
.occupation{
    grid-area: e;
}
.doYouSmoke{
    grid-area: f;
}
.accomodation{
    grid-area: g;
}
.pets{
    grid-area: h;
}
.size{
    grid-area: i;
}
.price{
    grid-area: j;
}
.exptdDate{
    grid-area: k;
    margin-top: auto;
}
.exptdDuration{
    grid-area: l;
}

.partner{
    grid-area: m;
}
.findaboutus{
    grid-area: n;
}
.liketoshare{
    grid-area: o;
}
.phonenumber{
    grid-area: p;
}

.input {
    width: 100% !important;
    background-color: #F9F8F8 !important;
}

.inputRight{
    float: right;
    width: 400px;
    background-color: #F9F8F8 !important;
}

.hobby{
    display: grid;
    grid-template-columns: repeat(2, minmax(440px, 40px));
}

.hobbyText{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 16px;
}
.roomHeading{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 20px;
}
.extraHeading{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 20px;
}
.partnerHeading{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 20px;
}
.roomsubHeading{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}
.district{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 16px;
}

.dates{
    background-color: #F9F8F8;
    padding: 12px 14px;
    width: 390px !important;
    border-radius: 4px;
    border: 1px rgb(181, 179, 179) solid;
}
.room{
    margin:-5px 0px;
}
.help{
    display: grid;
    grid-template-columns: repeat(2, minmax(440px, 40px));
}
.districtc{
    display: grid;
    grid-template-columns: repeat(1, minmax(900px, 40px));
}

.helpText{
    margin: 10px 10px;
    font-weight: 600;
    font-size: 16px;
}

.checkboxesrow{
    display: flex;
}

.checkboxesleft{
    margin-right: 150px;
}

.checkboxesright{
    margin-left: 150px;
}

.profileBanner{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 420px;
}

.banner{
   margin-left: auto;
   font-weight: 500;
   font-size: 10px;
}

.profileButton{
    width: 100%;
}

.avatarImg {
    margin: 10px 10px;
    width: 420px;
}

.buttonGroup{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 10px;
}

.avatar-preview-err{
    color: red;
    font-weight: 600;
}

.leftButton{
    margin-left: auto;
}
.photo > label {
    display: block;
    margin: 10px 10px;
    font-weight: 600;
    font-size: 16px;
}
.photo{
    display: flex;
    flex-direction: column;
}

.btnBlue {
    background-color: var(--gai-blue);
    border: 1px solid var(--gai-blue);
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
    color: var(--gai-white);
    padding: 10px 20px;
}

.btnWhite{
    background-color: var(--gai-white);
    border: 1px solid var(--gai-blue);
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
    color: var(--gai-blue);
    padding: 10px 20px;
}

@media only screen and (max-width: 1023px) {
    .upperHead{
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
    }

    .msg, .msgBottom{
        margin: 10px auto ;
    }

    .main{
        margin: auto auto;
        width: 570px;
    }
    .input{
        width: 550px !important;
    }

    .inputRight{
        float: left;
        width: 550px!important;
        margin: auto 10px;
    }

    .dates{
        width: 520px !important;
    }

    .profileBanner{
        width: 550px;
    }
    
    .quesPrimary{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr);
        grid-template-areas:
            "a" "b" "c" "d" "e" "f" "g" "h";
        align-items: start; 
    
    }

    .hobbySection{
        margin-top: 10px;
    }

    .hobby{
        display: grid;
        grid-template-columns: repeat(1, minmax(550px, 40px));
    }

    .help{
        display: grid;
        grid-template-columns: repeat(1, minmax(550px, 40px));
    }

    .helpSection{
        margin: 20px auto;
    }

    .roomQuestions{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr);
        column-gap: 40px;
        row-gap: 20px;
        grid-template-areas:
            "i" "j"
            "k" "l";
        align-items: start; 
    
    }

    .PartnerQuestions{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr);
        column-gap: 40px;
        row-gap: 20px;
        grid-template-areas:
            "m";
        align-items: start; 
    
    }

    .ExtraQuestions{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr);
        column-gap: 40px;
        row-gap: 20px;
        grid-template-areas:
            "n" "o" "p";
        align-items: start; 
    
    }

    .avatarImg{
        width: 550px;
    }

    @media only screen and (max-width: 624px){
        .main{
            width: 400px;
        }

        .input{
            width: 380px !important;
        }

        .inputRight{
            float: left;
            width: 380px !important;
        }

        .avatarImg{
            width: 380px;
        }
        .hobby{
            display: grid;
            grid-template-columns: repeat(1, minmax(350px, 40px));
        }

        .dates{
            width: 350px !important;
        }
    
        .districtlabel{
           width: 40%;
        }

        .profileBanner{
            width: 380px;
        }

        .help{
            display: grid;
            grid-template-columns: repeat(1, minmax(350px, 40px));
        }
    }

    @media only screen and (max-width: 424px){
        .main{
            width: 350px;
        }

        .input{
            width: 330px !important;
        }

        .inputRight{
            width: 330px !important;
            background-color: #F9F8F8 !important;
        }

        .avatarImg{
            width: 330px;
        }
        .hobby{
            display: grid;
            grid-template-columns: repeat(1, minmax(300px, 40px));
        }

        .dates{
            width: 300px !important;
        }

        .profileBanner{
            width: 330px;
        }

        .help{
            display: grid;
            grid-template-columns: repeat(1, minmax(300px, 40px));
        }
    }

    @media only screen and (max-width: 369px){
        .main{
            width: 320px;
        }

        .input{
            width: 300px !important;
        }

        .inputRight{
            float: left;
            margin: auto 10px;
            width: 300px !important;
            background-color: #F9F8F8 !important;
        }

        .avatarImg{
            width: 300px;
        }
        .hobby{
            display: grid;
            grid-template-columns: repeat(1, minmax(300px, 40px));
        }

        .dates{
            width: 270px !important;
        }
    
        .districtlabel{
           width: 36%;
        }

        .profileBanner{
            width: 300px;
        }

        .help{
            display: grid;
            grid-template-columns: repeat(1, minmax(300px, 40px));
        }

        .buttonGroup{
            margin: auto 0;
        }
    }

    @media only screen and (max-width: 321px){
        .main{
            width: 270px;
        }

        .input{
            width: 250px !important;
        }

        .inputRight{
            width: 250px !important;
        }

        .avatarImg{
            width: 250px;
        }
        .hobby{
            display: grid;
            grid-template-columns: repeat(1, minmax(250px, 40px));
        }

        .btnWhite{
            width: 130px;
        }
        .btnBlue{
            width: 130px;
        }

        .dates{
            width: 220px;
        }
    

        .profileBanner{
            width: 250px;
        }

        .help{
            display: grid;
            grid-template-columns: repeat(1, minmax(250px, 40px));
        }
    }

}