.delBtn {
    background-color: var(--gai-white);
    color: var(--gai-red);
    border: 1px solid var(--gai-red);
    font-weight: 600;
}

.formAction {
    display: flex;
    justify-content: space-around;
}