.form {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
}

.submitBtn {
    background-color: var(--gai-blue);
    border: 2px solid var(--gai-blue);
    color: var(--gai-white);
    width: 300px;
    border-radius: 14px;
    padding: 6px;
    font-weight: 500;
}

.submitBtn:hover {
    background-color: var(--gai-blue);
    opacity: 0.9;
}

.formCtrl {
    position: relative;
    margin-bottom: 10px;
}

.pwdInput {
    width: 300px;
    display: block;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.showIcon {
    position: absolute;
    right: 5px;
    bottom: 0px;
    top:4px
}