.main {
    height: 420px
}

.background {
    background-position: bottom;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-flow: column;
    /*align-content: center;*/
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 8px rgba(255, 255, 255, 0.15);
    background-color: white;
    margin: 20px;
    padding: 20px;
    /*max-width: 480px*/
}

.header {
    text-align: center;
}

.form {
    width: 100%;
    flex: 1;
}

.formGroup {
    margin-bottom: 12px;
    width: 100%;
}

.tabs {
    display: flex;
}

.tab {
    border: 1px solid black
}

.tab:first-child {
    margin-right: 5px;
}

.dropdown {
    border-radius: var(--gai-btn-radius);
}

.MuiSelectRoot {
    padding: 10px;
}

.MuiSelectOutlined {
    border-radius: var(--gai-btn-radius);
    border: 1px solid var(--gai-black);
}

.MuiSelect:focus {
    border: none;
    background-color: white;
}

.btn {
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--gai-btn-radius);
    width: 100%;
}

.btn:hover {
    color: var(--gai-white);
    background-color: #333333bd
}

.btnSelected {
    color: var(--gai-white);
    background-color: var(--gai-black)
}

.btnSelected:hover {
    color: var(--gai-white);
    background-color: var(--gai-black)
}

.submit {
    background-color: var(--gai-blue);
    color: var(--gai-white);
}

@media screen and (min-width: 375px) {
    .header {
        padding: 0 30px;
    }
}

@media screen and (min-width: 768px) {
    .main {
        height: 650px;
    }

    .background {
        align-items: flex-start;
    }

    .formContainer {
        flex-flow: row;
        min-width: 680px;
        margin-top: 100px;
        padding: 24px;
    }

    .header {
        flex: 1;
        font-weight: 600;
    }

    .btn {
        line-height: 2.4;
    }
}

@media screen and (min-width: 1060px) {
    .main {
        height: 650px
    }
}