.main {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
}

.submitBtn {
  background-color: var(--gai-blue);
  border: 2px solid var(--gai-blue);
  color: var(--gai-white);
  width: 300px;
  border-radius: 14px;
  padding: 10px;
  font-weight: 500;
}

.submitBtn:hover {
  background-color: var(--gai-blue);
  opacity: 0.9;
}

.progress {
  color: white;
}
.blue-button {
    background-color: var(--gai-blue);
    border: 2px solid var(--gai-blue);
    color: var(--gai-white);
    width: 300px;
    border-radius: 14px;
    padding: 10px;
    font-weight: 500;
}