* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --gai-light-blue: #CFE7F0;
  --gai-blue: #365FA7;
  --gai-red: #E9615B;
  --gai-white: #F9F8F8;
  --gai-black: #333;

  --gai-btn-radius: 16px;
}

body {
  background-color: #f4f4f4;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: var(--gai-blue)
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  cursor: pointer;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  padding: 0;
}