.cc__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gai-light-blue);
    border: var(--gai-red) 3px solid;
    padding: 20px 20px;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    bottom: 0;
    position: fixed;
}

.cc__content{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    /* max-width: 65%; */
}

.cc__buttons{
    display:flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items:center;
    margin: 10px 10px;
}

.main__buttons{
    display: flex;
    flex-direction: row;
}
.cc__title{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 10px;
}

.whitecc__button,
.bluecc__button {
    width: 169px;
    height: 50px;
    border-radius: 14px;
    padding: 5px;
    font-weight: 500;
    margin: auto 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

.whitecc__button {
    background-color: var(--gai-white);
    border: 2px solid var(--gai-blue);
    color: #365da7;
  }

.bluecc__button {
    background-color: var(--gai-blue);
    border: 2px solid var(--gai-blue);
    color: var(--gai-white);
  }

.cc__language {
    border: 2px solid var(--gai-blue);
    background-color: var(--gai-white);
    border-radius: 50%;
    color: var(--gai-red);
    margin-left: 10px;
    height: 50px!important;
    width: 50px!important;
    font-weight: 500;
    font-size: 16px;
  }

.cc__desc{
    margin: 10px 10px;
    margin-top: 0px;
}
.cc__text{
    margin: 10px 10px;
}

@media only screen and (max-width : 1218px){
    .cc__body{
        flex-direction: column;
    }

    .cc__content{
        margin-right:0px;
        margin-bottom: 10px;
    }

    .cc__buttons{
        margin:10px auto;
        padding: auto;
    }
    .bluecc__button,.whitecc__button,.cc__language{
        margin: auto 20px;
    }
}

@media only screen and (max-width : 556px){
    .cc__buttons{
        flex-direction: column;
        margin: auto;
    }

    .bluecc__button,.whitecc__button,.cc__language{
        margin:5px 10px;
    }
}

@media only screen and (max-width : 474px){
    .cc__body{
        padding: 10px 10px;
    }
    .bluecc__button,.whitecc__button{
        margin:5px 5px;
        width: 160px;
        padding: 10px 5px;
        font-size: 16px;
    }

}

@media only screen and (max-width : 372px){
    .cc__title{
        margin: 5px 0px;
    }
    .cc__text{
        margin: 5px 0px;
    }
    .cc__desc{
        margin:5px 0px;
    }
    .bluecc__button, .whitecc__button, .cc__language{
        width: 150px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 350px){
    .main__buttons{
        flex-direction:column;
    }
    .bluecc__button, .whitecc__button,.cc__language{
        width: 160px;
        padding: 10px 5px;
        font-size: 16px;
    }
}