.cookie-consent {
    background-color: var(--gai-light-blue);
    border-radius: 5px;
    padding: 10px;
}

.cookie-consent__btn {
    background-color: var(--gai-blue);
    border-radius: var(--gai-btn-radius);
    color: var(--gai-white);
    padding: 10px 20px;
}