
section{
    width:80vw;

    max-width: 720px;
    text-align: center;
    margin:4rem auto;
}
.question{
    display:flex;
    color:var(--gai-blue);
    justify-content: space-between;
    border-top: 1px solid var(--gai-light-blue);

}
.rotate{
    transform:rotate(180deg);
}
.answer{
    text-align: left;
    padding-right:3rem;

}
